<div class="p-0 mt-2">
    <div class="tabs d-flex pt-1 ps-2">
      <div (click)="selectedTab = tab" class="tab p-2 me-4 pointer" [ngClass]="{ active: selectedTab == tab }"
        *ngFor="let tab of tabs">
        {{ tab }}
      </div>
      <div class="btn-add">
        <span class="">
          <i class="feather icon-plus me-2 text-truncate"></i> Add new
          assets</span>
      </div>
    </div>
    <div class="data pt-4">
      <div class="note-item p-3" *ngFor="let note of notes">
        {{note.title}}
        <hr/>
        {{note.description}}
      </div>
      
     <!--  <ng-template [ngTemplateOutlet]="phoneNumbers" *ngIf="selectedTab == 'Phone'"></ng-template>
      <ng-template [ngTemplateOutlet]="emails" *ngIf="selectedTab == 'Email'"></ng-template> -->
    </div>
    </div>
