<!-- Section: Design Block -->
<section class="d-flex align-items-center background-radial-gradient overflow-hidden vh-100">

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="animate__animated animate__backInLeft my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    The best site <br />
                    <span class="secondary-text" style="color: hsl(218, 81%, 75%)">for your notes</span>
                </h1>
                <p class="animate__animated animate__flipInX mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos?
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="animate__animated animate__zoomIn position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="animate__animated animate__zoomIn position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <ng-template #actionComponent></ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->
