<form [formGroup]="loginForm" (submit)="login()">
    <h3 class="mb-4 text-center">Login</h3>

    <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput3" [ngClass]="{'invalid-input': fieldIsInvalid('email')}"
        placeholder="" formControlName="Email">
        <span class="error-input-text" *ngIf="fieldIsInvalid('Email')">Invalid email</span>
        <span class="error-input-text" *ngIf="!fieldIsInvalid('Email') && InvalidLogin">Invalid email or password</span>
    </div>


    <div class="mb-4">
        <label for="exampleFormControlInput4" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput4" 
        [ngClass]="{'invalid-input': fieldIsInvalid('password')}"
        placeholder="" formControlName="Password">
        <span class="error-input-text" *ngIf="fieldIsInvalid('Password')">Password must contain at least 8 characters.</span>
    </div>
    <p class="text-center mb-3">Don't have an account?
        <span class="pointer text-active" routerLink="/auth/register">Register</span>
    </p>
    <div class="d-flex justify-content-center">
        <button 
        [disabled]="loading"
        type="submit" class="mt-2 w-100 btn btn-primary btn-block">
            <span *ngIf="!loading else loader">Login</span>
        </button>
    </div>
</form>
<ng-template #loader>
    <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</ng-template>
