@use "../../../assets/scss/variables.scss" as v;
.navbar-container{
    width: 60px;
}
.nav-item{
    width: 100%;
    border-radius: 8px;
}
.nav-active a{
    color: v.$secondary-background-color !important;
}
.main-navbar{
    height: 60px !important;
    padding: 0 !important;
}
.main-content-container{
    border-radius: 8px;
}
/* .container-fluid{
    padding: 8px;
} */